/* Specific styles for profile page index.html */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Style h1 headline specifically for this page */
h1 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight:lighter;
    color: black;
}

/* Style name of person to highlight it */
#profile_name {
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgb(47,85,151);
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
}

/* Container around project section. Flex display ensures
that direct children (articles) are aligned in rows */
#container_projects_rows {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 20px;
}

/* Container class (applied to all articles in project section)
to ensure that text and images within the article are aligned
in columns spaced by 'gaps' */
.container_project_columns {
    display: flex;
    align-items: center;
    justify-items: first baseline;
    gap: 30px;
}

/* Define maximum width of column with text */
.container_project_columns div:nth-of-type(1) {
    flex: 450px;
}

/* Define size and styling of column with images */
.container_project_columns div:nth-of-type(2) {
    flex: 600px;
    padding: 5px;
    background-color: white;
    text-align: center;
}

/* Scale images of project section */
.container_project_columns:nth-of-type(1) div img {
    width: 85%;
}

.container_project_columns:nth-of-type(2) div img {
    width: 75%;
}

.container_project_columns:nth-of-type(3) div img {
    width: 60%;
}

.container_project_columns:nth-of-type(4) div img {
    width: 65%;
}

/* Apply smaller font size to citations */
.citations {
    font-size: 8pt;
}
